
#home {
  background: url('./assets/img/lokomotywa_1200.jpg') no-repeat center center fixed;
  display: table;
  height: 90vh;
  position: relative;
  width: 98vw;
  -webkit-background-size: cover;
  background-size: cover;
}
.landing-text {
  display: table-cell;
  /*position: absolute;*/
  bottom: 10vh;
  padding: 1vh;
  text-align: center;
  vertical-align: bottom;
}
.landing-logo {
  position: absolute;
  left: 5vw;
  top: 8vh;
  padding: 1vh;
  text-align: left;
}
.landing-logo img {
  width: 400px;
  height: auto;
}
h3 {
  font-weight: bold;
  color: #555;
  font-size: 5vh;
}
